{% extends ('baseback/base.html.twig') %}
{% block title %}New Billet{% endblock %}



{% block body %}
    <h1>Create new Billet</h1>

    {{ include('billet/_form.html.twig') }}

    <a href="{{ path('billet_index') }}">back to list</a>
{% endblock %}
