{% extends ('baseback/base.html.twig') %}
{% block title %}Edit Planning
{% endblock %}


{% block body %}
	<h1>Edit Planning</h1>

	{{ include('planinng/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('planinng_index') }}"class="btn btn-primary">back to list</a>

	{{ include('planinng/_delete_form.html.twig') }}
{% endblock %}
