{% extends ('baseback/base.html.twig') %}



{% block body %}
<!DOCTYPE html>
<div align="center">
    <h1>Create new Task</h1>

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('task_index') }}">back to list</a>
{% endblock %}
