{% extends ('base_back_f/basebackF.html.twig') %}
{% block body %}
<!DOCTYPE html>

<title>New CategorieEquipement</title>

    <h1>Create new CategorieEquipement</h1>

    {{ include('categorie_equipement/_form.html.twig') }}

    <a href="{{ path('categorie_equipement_index') }}">back to list</a>
{% endblock %}
