{% extends ('baseback/base.html.twig') %}
{% block title %}localisations
{% endblock %}


{% block body %}
	<h1>Celestial</h1>
	<br>
	<br>
{#<h1>Nous contacter</h1>#}
{{  form(emailForm) }}
	
{% endblock %}