<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle offre</title>
</head>
<body>
<h1 style="color:SlateBlue;">Celesial service </h1>
<p>Bonjour cher client, ceci est pour vous informez que celestial vous gates comme toujours avec une offre exceptionnelle sur la totalité de ses plannings ,
veuillez consulter notre site pour plus de détails </p>
  <p>Celestial groupe</p>  
</body>
</html>