<h1 style="color:SlateBlue;" >Celestial,</h1>
<p>Bonjour cher monsieur/madame <b> {{contact.nom}}	{{contact.prenom}} </b>	,ceci est pour vous informé que votre reclamation a été bien traité</p>

{#<p>{{ contact.email  }}</p>#}
<p>{{ contact.message  }}</p>

<h4>Merci pour votre confiance et à trés bientot!!</h4>
