<form method="post" action="{{ path('offre_search') }}">
		<label>Rechercher</label>
		<input type="text" name="search">
		<input type="submit" value="Rechercher" class="btn btn-success">
	</form>
			