
{% extends ('base_back_f/basebackF.html.twig') %}
{% block title %}New CategoriePost
{% endblock %}
{% block body %}
    <h1>Create new CategoriePost</h1>

    {{ include('categorie_post/_form.html.twig') }}

    <a href="{{ path('categorie_post_index') }}">back to list</a>
{% endblock %}
